<h1>Rock Paper Scissors Game</h1>
<p>Choose Rock/Paper/Scissor to Play</p>
<div class="container">
<form action='/computerGameDetector' method='get'>
  <select class="form-control" id="input1" name="input1" type="text">
    <option>rock</option>
    <option>paper</option>
    <option>scissor</option>
  </select>
  <button type="submit" class="btn btn-info">Go!</button>
</form>
</div>
